{
  "env": {
    "node": true
  },
  "rules": {
    "prettier/prettier": [
      "warn",
      {
        "singleQuote": true,
        "semi": true
      }
    ],
    "arrow-body-style": ["error", "as-needed"]
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module"
  }
}
